@import url("https://fonts.googleapis.com/css2?family=Laila:wght@300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none !important;
  text-decoration: cadetblue;
  outline: none;
  border: none;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  background: #f0f2f5;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
#main {
}
#main .container-fluid .row {
  display: grid;
  grid-template-columns: 40% 1fr;
}
#main .container-fluid .row .col .content .img img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
#main .container-fluid .row .col {
  padding: 0;
}
#main .container-fluid .row .col .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem;
}
#main .container-fluid .row .col .content .icon {
  display: flex;
  gap: 1.4rem;
  align-items: center;
}
#main .container-fluid .row .col .content .icon i {
  font-size: 1.2rem;
  color: #54656f;
}
#main .container-fluid .row .col .main-search {
  background: #ffff;
  /* width: 100%; */
  padding: 0.5rem 0.8rem;
}
#main .container-fluid .row .col .search {
  background: #f0f2f5;
  padding: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 0.7rem;
}
#main .container-fluid .row .col .search .search-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  background: #f0f2f5;
}
#main .container-fluid .row .col .search .search-input input {
  width: 100%;
  background: #f0f2f5;
}
#main .container-fluid .row .col .search .icons {
  background: #f0f2f5;
}
.user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem 0.8rem;
  background: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}

.user:hover {
  background: #f0f2f5;
  cursor: pointer;
}
.user .user-col {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  transition: 0.3s ease;
}
.user .user-col .info h1 {
  font-size: 1rem;
}
.user .user-col .info .sent i,
span {
  font-size: 1rem;
  color: #54656f;
}
.user .user-col .time {
  font-size: 1rem;
  font-weight: 300;
  cursor: pointer;
  color: #54656f;
}
/* ----------------------------right colums ------------------------  */
#main .container-fluid .row .col .contents {
  padding: 8rem 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#main .container-fluid .row .col .contents img {
  width: 320px;
}
#main .container-fluid .row .col .contents h2 {
  font-size: 2rem;
  font-weight: 300;
  margin: 0.5rem 0;
  color: #68525d;
}
